:root {
  font-size: 16px;
}

:root, body, #viewport {
  width: 100vw;
  height: 100%;
}

a {
  color: inherit;
}

body {
  margin: 0;
  background: #000;
  color: #eee;
  cursor: default;
  font-family: 'Roboto Condensed', monospace;
  font-size: 0.75rem;
  line-height: 1.125rem;
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: auto;
}

button {
  margin: 0;
  padding: 0 0.75rem;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: rgba(0, 0, 0, .5);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 4rem;
  cursor: pointer;
  white-space: nowrap;
}

canvas {
  vertical-align: middle;
}

select {
  margin: 0;
  padding: 0.5rem 0.25rem;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: rgba(0, 0, 0, .5);
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

input[type="checkbox"], input[type="range"] {
  accent-color: #000;
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0.4375rem 0.5rem;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: rgba(0, 0, 0, .5);
  border-radius: 0.5rem;
  width: 100%;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #aaa;
}

#info {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, .5);
  z-index: 2;
}

body.pointerlock #info {
  display: none;
}

body.loading #viewport {
  filter: blur(0.75rem);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:vertical {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.3);
}
