:root {
  font-size: 16px;
}

:root, body, #viewport {
  width: 100vw;
  height: 100%;
}

a {
  color: inherit;
}

body {
  margin: 0;
  background: #000;
  color: #eee;
  cursor: default;
  font-family: 'Roboto Condensed', monospace;
  font-size: 0.75rem;
  line-height: 1.125rem;
  touch-action: none;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: auto;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: rgba(0, 0, 0, .5);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 4rem;
  cursor: pointer;
}

canvas {
  vertical-align: middle;
}

#info {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, .5);
  z-index: 2;
}

body.loading #viewport {
  filter: blur(0.75rem);
}
